---
const pageTitle = "About Me"
import Navbar from '../components/navbar.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <header>
            <Navbar />
        </header>
		<h1>{pageTitle}</h1>

        <p>My online name is spiritual. I've been programming for no more than 8 months, however I have always been interested in tech and design.</p>
	</body>
</html>
