---
import Navbar from '../components/navbar.astro'
---

<style>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
	@font-face {
		font-family: 'Neue';
		src: url("../../HelveticaNeue.woff") format("woff")
	}

	body {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh; /* Ensure the body takes at least the full viewport height */
		background-color: #00008B
	}

	main {
		flex: 1; /* Allow main to take the remaining vertical space */
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0;
		padding: 0
	}

	h1 {
		background-image: url('../../wave5.svg');
		background-size: cover;
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		margin: 0;
		padding: 0
	}

	header {
		position: fixed; /* Fix the navbar position */
		width: 100%; /* Take full width of the viewport */
		background-color: white; /* Set the background color of the navbar */
	}

	#maintext {
		font-family: 'Noto Sans JP', sans-serif;
		font-size: 20vw;
		margin-top: -47px;
		padding: 0;
	}

	.message {
		color: white;
		font-family: 'Neue', sans-serif;
		font-weight: bold;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	#topmessage {
		display: none
	}

	.message, #maintext {
		user-select: none
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Navbar color="#00008B" color2="#7EC8E3"/>
		</header> 
		<main>
			<h2 class="message" id="topmessage">SIDDHARTHA GAUTAMA, FAMOUSLY KNOWN AS THE BUDDHA, POSITED THAT WE SUFFER IN LIFE DUE TO OUR OBSESSION WITH CLINGING TO ALL THAT CAN BE TAKEN FROM US.</p>
			<h1 id="maintext">霊的</h1>
			<h2 class="message">SPIRITUAL // TÂM LINH</p>
		</main>
	</body>
</html>

<script>
	const logowidth = document.getElementById("maintext").offsetWidth
	const topmessage = document.getElementById("topmessage")
	function resizeTopText() {
		topmessage.style.width = `${logowidth}px`
		topmessage.style.display = "block"
	}

	resizeTopText()

	window.addEventListener("resize", resizeTopText)
</script>