---
import Navbar from '../components/navbar.astro'
import Preview from '../components/post-preview.astro'

const posts = await Astro.glob('../pages/posts/*.md')
---

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100%
    }

    .post-preview-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 10px;
        gap: 20px
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <Navbar />
    </header>
    <div class="post-preview-container">
        {posts.map((post) => <Preview title={post.frontmatter.title} author={post.frontmatter.author} url={post.url} />)}
    </div>
</body>
</html>