<style>
  .warning {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(245, 39, 39, 0.75);
    border: 1px solid rgba(245, 39, 39, 0.75);
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    font-family: "Noto Sans JP", sans-serif;
    width: 90vw
  }
</style>

<div class="warning">This is a draft. It is not complete!</div>
