<style>
  /* Reset default margin and padding for the header and body */
  header {
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  /* Style the header */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
    padding: 0 20px
  }

  a {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    font-weight: bold;
    
  }

  #logo {
    width: 50px;
    height: 50px
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 30px
  }
</style>

<div class="header-container">
  <img src="https://i.imgur.com/58nOhXY.jpeg" id="logo">
  <div class="links">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/posts">posts</a>
  </div>
    
</div>
